<h1 class="wp">Edited Note</h1>
<div class="box panel panel-default">
  <div class="panel panel-body">
  <%= render 'form' %>
  </div>
    <div class="panel panel-footer">
      <%= link_to 'Show', @note %> |
    <%= link_to 'Back', pick_notes_path %>
    </div>
</div>
