<h1 class="wp">Create Reservation Note</h1>
<div class="box panel panel-default">
   <div class="panel panel-body">
		<%= render 'form' %>
	</div>
  <div class="panel panel-footer">
    <%= link_to 'Back', reservation_weeks_path %>
  </div>
</div>


