<!-- Main Container -->
<div class="main-wrapper">

  <!-- Container -->
  <div class="container">
    <div class="white-space space-big"></div>
    <div class="row">
      <div class="col-md-12 columns">
        <h2 class="fancy-title text-center"><span>The Brettl-Hupfers Ski &amp; Sports Club</span></h2>
      </div>
      <div class="col-md-8 col-md-offset-2">
        <p class="lead text-center lead-big">Welcome to the Brettl-Hupfers Ski and Sports Club! There is no better way to get to know us then coming up for a weekend to ski, snowboard, hike or tube with us.
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <p>Guests must be hosted by a member. Please make a reservation through the club member by 12:00pm on Wednesday before the weekend you arrive.  You are welcome to bring a friend or two as long as you’ve coordinated this with your host.  Feel free to reach out to the social chair, <a href="mailto:aciak2004@yahoo.com@gmail.com?subject=Social Inquiry">Amy Cheever</a>, to find out what events are being held on the weekend you are coming up.</p>
        <p>We recommend coordinating with the member that is hosting you on what time they will arrive to the club and when they are planning on leaving.  Normally people arrive after 8pm on Friday night.   When you arrive at the club you will sign in, indicate how many nights you will be staying and provide an emergency contact (preferably someone who is not traveling with you).   You will also sign a waiver and pay guest fees.  Your host will then give you a tour of the house and show where you will sleep for the weekend.  All bedrooms are separated by gender.</p>
        <ul>
          <p><strong>What you should bring:</strong></p>
          <li>Bedding for a twin bed (pillow, sheets, blankets or sleeping bag)</li>
          <li>Toiletries</li>
          <li>Towel</li>
          <li>Slippers or comfortable shoes to wear around the house</li>
          <li>Phone charger</li>
          <li>Ski/hiking equipment (you can rent from many local shops)</li>
          <li>Cash for guest fees and for food and beverages</li>
        </ul>
        <p>Normally the guest fees are $25 per night/person unless there is a special event.  Then there would be a weekend price that would include lodging, special meal(s) and cost for event invitation. Guest fees can be paid at the house using cash or check or through Paypal (treasurer@brettl.org) with a 3% service charge.</p>
      </div>
      <div class="col-md-8 col-md-offset-2">
        <p class="lead text-center lead-big"><strong>Directions to the house:</strong></p>
      </div>
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <p>We are about 2 miles down the road from Attitash Ski Resort off of Route 302 in Bartlett, NH.  If using GPS use the following address: 1 George Street, Bartlett, New Hampshire.</p>
        </div>
      </div>
    </div>
    <!-- /Container -->
