<!-- Main Container -->
<div class="main-wrapper">

  <!-- Container -->
  <div class="container">
    <div class="white-space space-big"></div>
    <div class="row">
      <div class="col-md-12 columns">
        <h2 class="fancy-title text-center"><span>The Brettl-Hupfers Ski &amp; Sports Club</span></h2>
      </div>
      <div class="col-md-8 col-md-offset-2">
        <p class="lead text-center lead-big">Membership</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <ul>
          <p><strong>Membership Information and Requirements</strong></p>
          <p><strong>We are now accepting applications for new membership. To learn more about becoming a member, please contact our recruitment chair: <a href="mailto:brettl.hupfers@gmail.com?subject=Membership Inquiry">Dan Shults</a></strong></p>
          <li>Must be 21 or over (we give preference to those with a modeling background. Now take it easy, we’re just kidding).</li>
          <li>Must be a guest for 4 nights over 2 weekends prior to joining.</li>
          <li>All members receive an <a href="http://www.eicsl.org">EICSL membership</a> card for access to ski club league events and numerous <a href="http://www.eicsl.org/trips--discounts.html">discounts</a> at ski and clothing shops, restaurants, bars, etc..</li>
          <li>Full members receive a key to the house and have full use of the club all year long (no lodge fees).</li>
          <li>Full members get their own bed.</li>
          <li>EICSL, race, and associate members pay lodge fees of $20/night.</li>
          <li>Full members may invite guests for $30 per night.</li>
          <li>Race membership cost is $50/year.</li>
          <li>Full members are required to perform work weekends which includes 1 1/2 days in both the Fall and Spring. (Believe it or not, these can actually be fun!)</li>
          <li>Membership year is from July 1 until June 30.</li>
          <li>Full Lodge Membership Dues: $450 (07/01 – 06/30), Plus $25 Application Fee, Plus $150 Work Weekend Deposit</li>
          <p> <%= link_to "Click Here For A New Member Application!!", asset_path("BHSC_Member_Application.pdf"), target: "_blank"%></p>
        </ul>
      </div>
      <div class="col-md-8 col-md-offset-2">
        <p class="lead text-center lead-big">Membership FAQ</p>
      </div>
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <p><strong>Are pets allowed? </strong><br />
            Sorry, pets are not allowed in the house.</p>

          <p><strong>Are children allowed in the house? </strong><br />
            Because our club is not designed for kids, you must be 21 or over to enter the house. There are, however, several<a href="http://www.eicsl.org/clubs.html"> EICSL clubs </a>that have family memberships.</p>

          <p><strong>So who cleans the house and are members responsible for performing duties? </strong><br />
            Members are expected to treat the house as if it were their own home. That means if you make a mess, you clean it up.</p>

          <p><strong>Is smoking allowed in the club?</strong><br />
            No, there is no smoking allowed in the house at anytime.</p>

          <p><strong>Does the club offer a recreational ski racing program? </strong><br />
            Yes.</p>
        </div>
    </div>
  </div>
  <!-- /Container -->
