<div class="box panel panel-default">
  <div class="panel panel-body">
    <h3 class="wp">User</h3>
    <div> Name: <%= @user.name if @user.name %></div>
    <div>Email: <%= @user.email if @user.email %></div>
    <div>Role: <%= @user.role if @user.role %></div>
  </div>
</div>

