<!-- Main Container -->
<div class="main-wrapper">

  <!-- Container -->
  <div class="container">
    <div class="white-space space-big"></div>
    <div class="row">
      <div class="col-md-12 columns">
        <h2 class="fancy-title text-center"><span>Brettl Hupfer Ski Club's AT Week</span></h2>
      </div>
      <div class="col-md-12">
        <%= image_tag 'thebrettlhupferskiclubpresents-1.png', :style=>"max-width:87%; padding-left:13%"%>
      </div>
    </div>
  </div>
  <!-- /Container -->
