<!-- Main Container -->
<div class="main-wrapper">

  <!-- Container -->
  <div class="container">
    <div class="white-space space-big"></div>
    <div class="row">
      <div class="col-md-12 columns">
        <h2 class="fancy-title text-center"><span>Payment and Donations</span></h2>
      </div>
      <div class="col-md-8 col-md-offset-2">
        <p class="lead">Please scan this QR code, or click <a href="https://www.paypal.com/donate?hosted_button_id=6X2K7DW9T9L66">here</a> to pay for any club services, or to make a donation to support us!</p>
        <p><img src="qrcode.png" alt="Donate"/p>
      </div>
    </div>
  </div>
  <!-- /Container -->
