<!-- Main Container -->
<div class="main-wrapper">

  <!-- Container -->
  <div class="container">
    <div class="white-space space-big"></div>
    <div class="row">
      <div class="col-md-12 columns">
        <h2 class="fancy-title text-center"><span>Payment and Donations</span></h2>
      </div>
      <div class="col-md-8 col-md-offset-2">
        <p class="text-center lead lead-big">Click <a href="https://www.paypal.com/donate?hosted_button_id=6X2K7DW9T9L66">here</a> to pay with a credit card or Paypal. </p>
        <p class="text-center lead lead-big">Scan the QR Code to pay with Venmo.</p>
        <p class="text-center"><%= image_tag 'qr.png' %></p>
      </div>
    </div>
  </div>
  <!-- /Container -->
