<!-- Main Container -->
<div class="main-wrapper">

  <!-- Container -->
  <div class="container">
    <div class="white-space space-big"></div>
    <div class="row">
      <div class="col-md-12 columns">
        <h2 class="fancy-title text-center"><span>The Brettl-Hupfers Ski &amp; Sports Club</span></h2>
      </div>
      <div class="col-md-8 col-md-offset-2">
        <p class="lead text-center lead-big">ULLR Lunch 2017 Paypal Form
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <p>Mama Rose is preparing an authentic Italian feast</p>
        <ul>
          <li>Homemade Pasta (Lasagna) And Gravy</li>
          <li>Garlic Bread</li>
          <li>Salad</li>
          <li>Yummy Desserts</li>
        </ul>
        <p>Cost is $13</p>
        <p><strong>Please place lunch order by November 19, 2017</strong></p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
          <input type="hidden" name="cmd" value="_s-xclick">
          <input type="hidden" name="hosted_button_id" value="ML2RFTFDGNJYA">
          <table>
            <tr><td><input type="hidden" name="on0" value="Vegetarian Option Y/N">Vegetarian Option Y/N</td></tr><tr><td><input type="text" name="os0" maxlength="200"></td></tr>
          </table>
          <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_buynowCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
          <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
        </form>
      </div>
    </div>
  </div>
    <!-- /Container -->
