<!-- Main Container -->
<div class="main-wrapper">

  <!-- Container -->
  <div class="container">
    <div class="white-space space-big"></div>
    <div class="row">
      <div class="col-md-12 columns">
        <h2 class="fancy-title text-center"><span>Brettl Hupfer Ski Club's Summer Volleyball</span></h2>
      </div>
      <div class="col-md-8 col-md-offset-2">
        <p class="lead">Wednesdays 6:30 - Dark at Artesani Park in Alston (near the kayak rental)</p>
        <p class="lead">June 5th - August 17th</p>
        <p class="lead">$75 for members, $90 for non-members.</p>
        <p class="lead">Includes 10 weeks of play, 2 days of instruction with Coach Hitman, and tournament weekend/BBQ in NH.</p>
        <p class="lead">Email Nikki and Dan at <a href="mailto:brettlvball@gmail.com"> brettlvball@gmail.com</a> for more information or to sign up.</p>
        <p class="lead">Tournament is Saturday August 17th at our ski club in Bartlett, NH.</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-8 col-md-offset-2"> <%= image_tag 'vball1.png', class: 'img-responsive animation fadeInLeft' %>
        <div class="white-space space-small"></div>
      </div>
      <div class="col-md-8 col-md-offset-2"> <%= image_tag 'vball2.jpg', class: 'img-responsive animation fadeInLeft' %>
        <div class="white-space space-small"></div>
      </div>
      <div class="col-md-8 col-md-offset-2"> <%= image_tag 'vball3.jpg', class: 'img-responsive animation fadeInLeft' %>
        <div class="white-space space-small"></div>
      </div>
    </div>
  </div>
  <!-- /Container -->
