<h1 class="wp">Edit Reservation</h1>
<div class="box panel panel-default">
   <div class="panel panel-body">
		<%= render 'form', form: 'edit' %>
	</div>
</div>
<%= link_to 'Show', @reservation %> |
<%= link_to 'Back', reservations_path %>
