<h1 class="wp">New Reservation</h1>
<div class="box panel panel-default">
   <div class="panel panel-body">
    <% if ENV['COVIDOFF'] %>
      <h2> Online reservations are currently closed. If you would like to make a reservation please email <a href = "mailto: brettl.hupfers@gmail.com">brettl.hupfers@gmail.com</a></h2>
    <% else %>
      <%= render 'form' %>
    <% end %>
	</div>
</div>

<%= link_to 'Back', reservations_path %>
 