.calendar {
  display: none !important;
}
.range_inputs {
  display: none !important;
}
.ranges {
  ul {
    li:last-child {
      display: none !important;
    }
  }
}
textarea {
  width:100%;
}
.reservation_name {
  .string {
    width:100%;
    height: 50px;
  }
}