<!-- Footer Container -->
<div class="footer-wrapper">

  <!-- Footer Top Container -->
  <div class="footer-top">

    <!-- Google Map -->
    <a class="gmap-button">Locate us on map</a>
    <div class="gmap-wrapper">
      <div id="google-map-footer"></div>
    </div>
    <!-- /Google Map -->

  </div>
  <!-- /Footer Top Container -->

  <!-- Footer Bottom Container -->
  <div class="footer-bottom">

    <!-- Container -->
    <div class="container">
      <div class="row">
        <!-- Footer Menu -->
        <div class="col-md-12 col-sm-12 columns">
          <div class="menu-footer">
            <ul class="list-inline">
              <li><%= link_to 'Home', root_path %></li>
              <li><%= link_to 'Membership', membership_path %></li>
              <li><%= link_to 'Guest FAQ', guest_path %></li>
            </ul>
          </div>
        </div>
        <!-- /Footer Menu -->
        <!-- Copyright -->
        <div class="col-md-12 col-sm-12 columns">
          <div class="copyright">
            <p>Copyright © 2015 - Brettl Hupher Ski & Sports Club | All Rights Reserved</p>
          </div>
        </div>
        <!-- /Copyright -->
        <!-- Footer Social -->
        <div class="col-md-12 col-sm-12 columns">
          <div class="social-footer">
            <ul class="list-inline social-list">
              <li><a href="" class="ToolTip" title="Facebook"><span class="fa fa-facebook"></span></a></li>
              <li><a href="" class="ToolTip" title="Twitter"><span class="fa fa-twitter"></span></a></li>
              <li><a href="" class="ToolTip" title="Google+"><span class="fa fa-google-plus"></span></a></li>
              <li><a href="" class="ToolTip" title="Pinterest"><span class="fa fa-pinterest"></span></a></li>
              <li><a href="" class="ToolTip" title="Linkedin"><span class="fa fa-linkedin"></span></a></li>
            </ul>
          </div>
        </div>
        <!-- /Footer Social -->
      </div>
    </div>
    <!-- /Container -->

  </div>
  <!-- /Footer Bottom Container -->

</div>
<!-- /Footer Container -->

</div>

<!-- Back To Top -->
<a href="#page-top" class="scrollup smooth-scroll" ><span class="fa fa-angle-up"></span></a>