<!-- Slider Container -->

<div class="slider-wrapper">

  <!-- START REVOLUTION SLIDER 3.1 rev5 fullwidth mode -->

  <div class="tp-banner-container">
    <div class="tp-banner" >
      <ul>

        <!-- SLIDE  -->
        <li data-transition="slidehorizontal" data-slotamount="1" data-masterspeed="1000" data-fstransition="fade" data-fsmasterspeed="1000" data-fsslotamount="7" data-saveperformance="off"  data-title="The Brettl Hupfer Ski & Sports Club">
          <!-- MAIN IMAGE -->
          <%= image_tag 'slider/ski-line-up-1.jpg', alt:'slidebg1', data: {bgfit: 'cover', bgposition: 'center center', bgrepeat: 'no-repeat'} %>
          <div class="tp-caption large_bold_white customin customout tp-resizeme rs-parallaxlevel-3"
            data-x="center"
            data-y="150"

            data-splitin="words"
            data-elementdelay="0.1"
            data-start="1250"
            data-speed="1500"
            data-easing="Power3.easeOut"
            data-customin="x:0;y:-20;z:0;rotationX:90;rotationY:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"

            data-splitout="lines"
            data-endelementdelay="0"
            data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:10;scaleY:10;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
            data-endspeed="1500"
            data-endeasing="Power3.easeInOut"
            data-captionhidden="on"
            style="font-size:90px;line-height:110px;">The Brettl Hupfer Ski & Sports Club</div>
          <div class="tp-caption mediumlarge_light_white script-font customin customout tp-resizeme rs-parallaxlevel-4"
            data-x="center"
            data-y="280"

            data-splitin="words"
            data-elementdelay="0.05"
            data-start="1650"
            data-speed="900"
            data-easing="Back.easeOut"
            data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
            data-endelementdelay="0.1"
            data-customout="x:-230;y:-20;z:0;rotationX:0;rotationY:0;rotationZ:90;scaleX:0.2;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%"
            data-endspeed="500"
            data-endeasing="Back.easeIn"
            data-captionhidden="on"
            style="z-index: 4; font-size:52px;">We Love the Outdoors! </div>
          <div class="tp-caption sfb rs-parallaxlevel-5"
            data-x="center"
            data-y="380"
            data-speed="800"
            data-start="2600"
            data-easing="Power4.easeOut"
            data-endspeed="300"
            data-endeasing="Power1.easeIn"
            data-captionhidden="off"
            style="z-index: 6"> <a href="#services" class="btn btn-primary btn-lg">Join Us! <i class="fa fa-angle-double-down iconright"></i></a> </div>
        </li>

        <!-- SLIDE  -->
        <li data-transition="slidehorizontal" data-slotamount="1" data-masterspeed="1000" data-fstransition="fade" data-fsmasterspeed="1000" data-fsslotamount="7" data-saveperformance="off"  data-title="Get Into It!">
          <!-- MAIN IMAGE -->
          <%= image_tag 'slider/snowshoe-2.jpg', alt:'slidebg2', data: {bgfit: 'cover', bgposition: 'center center', bgrepeat: 'no-repeat'} %>
          <div class="tp-caption large_bold_white customin customout rs-parallaxlevel-3"
            data-x="center"
            data-y="150"

            data-splitin="chars"
            data-elementdelay="0.1"
            data-start="1250"
            data-speed="900"
            data-easing="Power3.easeOut"
            data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:6;scaleY:6;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"

            data-splitout="lines"
            data-endelementdelay="0"
            data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:10;scaleY:10;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
            data-endspeed="1500"
            data-endeasing="Power3.easeInOut"
            data-captionhidden="on"
            style="font-size:90px;line-height:110px;">Get Into It! </div>
          <div class="tp-caption mediumlarge_light_white script-font customin customout rs-parallaxlevel-4"
            data-x="center"
            data-y="280"

            data-elementdelay="0.05"
            data-start="1650"
            data-speed="900"
            data-easing="Back.easeOut"
            data-customin="x:0;y:0;z:0;rotationX:90;rotationY:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:1;transformPerspective:300;transformOrigin:50% 0%;"
            data-endelementdelay="0.1"
            data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
            data-endspeed="500"
            data-endeasing="Back.easeIn"
            data-captionhidden="on"
            style="z-index: 4; font-size:52px;">For proper Viewing, Take Red Pill Now! </div>
          <div class="tp-caption sfb rs-parallaxlevel-5"
            data-x="center"
            data-y="380"
            data-speed="800"
            data-start="2600"
            data-easing="Power4.easeOut"
            data-endspeed="300"
            data-endeasing="Power1.easeIn"
            data-captionhidden="off"
            style="z-index: 6"> <a href="#services" class="btn btn-white btn-lg btn-alt">Take Pill! <i class="fa fa-angle-double-down iconright"></i></a> </div>
        </li>
        <!-- SLIDE  -->

        <!-- SLIDE  -->
        <li data-transition="slidehorizontal" data-slotamount="1" data-masterspeed="1000" data-fstransition="fade" data-fsmasterspeed="1000" data-fsslotamount="7" data-saveperformance="off"  data-title="Get Into It!">
          <!-- MAIN IMAGE -->
          <%= image_tag 'slider/vball-3.jpg', alt:'slidebg2', data: {bgfit: 'cover', bgposition: 'center center', bgrepeat: 'no-repeat'} %>
          <div class="tp-caption large_bold_white customin customout rs-parallaxlevel-3"
            data-x="center"
            data-y="150"

            data-splitin="chars"
            data-elementdelay="0.1"
            data-start="1250"
            data-speed="900"
            data-easing="Power3.easeOut"
            data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:6;scaleY:6;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"

            data-splitout="lines"
            data-endelementdelay="0"
            data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:10;scaleY:10;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
            data-endspeed="1500"
            data-endeasing="Power3.easeInOut"
            data-captionhidden="on"
            style="font-size:90px;line-height:110px;">Get Into It! </div>
          <div class="tp-caption mediumlarge_light_white script-font customin customout rs-parallaxlevel-4"
            data-x="center"
            data-y="280"

            data-elementdelay="0.05"
            data-start="1650"
            data-speed="900"
            data-easing="Back.easeOut"
            data-customin="x:0;y:0;z:0;rotationX:90;rotationY:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:1;transformPerspective:300;transformOrigin:50% 0%;"
            data-endelementdelay="0.1"
            data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
            data-endspeed="500"
            data-endeasing="Back.easeIn"
            data-captionhidden="on"
            style="z-index: 4; font-size:52px;">For proper Viewing, Take Red Pill Now! </div>
          <div class="tp-caption sfb rs-parallaxlevel-5"
            data-x="center"
            data-y="380"
            data-speed="800"
            data-start="2600"
            data-easing="Power4.easeOut"
            data-endspeed="300"
            data-endeasing="Power1.easeIn"
            data-captionhidden="off"
            style="z-index: 6"> <a href="#services" class="btn btn-white btn-lg btn-alt">Take Pill! <i class="fa fa-angle-double-down iconright"></i></a> </div>
        </li>
        <!-- SLIDE  -->



        <div class="tp-bannertimer tp-bottom"></div>
      </ul>
    </div>
  </div>

  <!-- END REVOLUTION SLIDER -->

</div>
<!-- /Slider Container -->